@use "../../styles/global.scss" as global;

div#record-panel {}

@media screen and (min-width: #{global.$base-win-dimension + 1}) {
    div#record-panel {
        grid-area: 1/3/2/4;
        height: fit-content;
        height: 100%;
    }
}

@media screen and (max-width: global.$base-win-dimension) {
    div#record-panel {
        height: fit-content;
    }
}