@use "../../styles/global.scss" as global;

div#game-panel {
    margin: 0 auto;
    padding: 0 auto;
    box-sizing: border-box;
    border: 0;

    canvas {
        box-sizing: border-box;
        background: global.$color-black-reg;
    }
}

@media screen and (max-width: global.$base-win-dimension) {
    div#game-panel {
        canvas {
            min-width: 100px;
        }
    }
}

@media screen and (min-width: #{global.$base-win-dimension + global.$dimens-coeff-middle}) {
    div#game-panel {
        grid-area: 1/2/4/3;
    }
}

@media screen and (min-width: #{global.$base-win-dimension * global.$dimens-coeff-large}) {
div#game-panel {
        grid-area: 1/2/4/3;

        canvas {
            max-width: global.$max-field-size;
        }
    }
}