$base-win-dimension: 950px;
$dimens-coeff-middle: 1;
$dimens-coeff-large: 2.5;

$color-black-reg: #000;
$color-white-reg: #FFF;
$color-dgrey-reg: #555;
$color-lgrey-reg: #EEE;
$color-cyan-decor: #00ECFF;
$color-yellow-extra: #FF5;
$color-pink-shadow: #FF00DC;

body {
    padding: 0;
    font-family: 'Courier New', 'Verdana', 'Segoe UI', sans-serif;
    font-size: 14pt;

}

.widget {
    padding: 15px 20px;
    box-shadow: 0 0 12px $color-pink-shadow;
    border-radius: 10px;
    align-content: center;
    border: 1px solid $color-dgrey-reg;
    background: $color-white-reg;
    color: $color-dgrey-reg;
    font-weight: bold;
}

button {
    background: $color-black-reg;
    border: 2px solid $color-cyan-decor;
    color: $color-cyan-decor;
    font-family: inherit;
    font-weight: inherit;
    font-size: 12pt;
}

button:hover {
    background: $color-cyan-decor;
    border: 2px solid $color-black-reg;
    color: $color-black-reg;
}

button:active {
    background: $color-yellow-extra;
    border: 2px solid $color-black-reg;
    color: $color-black-reg;
}

@media screen and (max-width: $base-win-dimension) {
    #main-wrapper {
        margin: 0 auto;
        width: 80%;

        div#main-game-container {
            display: flex;
            flex-direction: column;
            gap: 10px;
        }

        div {
            width: 100%;
            text-align: center;
            justify-content: center;
        }
    }
}

@media screen and (min-width: #{$base-win-dimension + $dimens-coeff-middle}) {
    #main-wrapper {
        margin: 0 auto;
        padding: 10px;

        div#main-game-container {
            display: grid;
            grid-template-columns: minmax(auto, 1.6fr) minmax(auto) minmax(auto, 2.1fr);
            grid-template-rows: 1.3fr 3fr 3fr;
            gap: 20px;
            justify-content: center;

            div {
                box-sizing: border-box;
            }
        }
    }
}

@media screen and (min-width: #{$base-win-dimension * $dimens-coeff-large}) {
    #main-wrapper {
        margin: 0 auto;
        padding: 10px;

        div#main-game-container {
            display: grid;
            grid-template-columns: auto auto auto;
            grid-template-rows: 1.3fr 3fr 3fr;
            gap: 20px;
            justify-content: center;

            div {
                box-sizing: border-box;
                text-align: center;
                align-items: center;
            }
        }
    }
}